.App {
  text-align: center;
}

.App-header {
  background-color: rgb(85, 140, 223);
  height: 300px;
  padding: 40px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


